h1,h2,ul,ol,li{
    margin:0;
    padding:0;
}
body{
    background-color:#FF908E;
}
ul{
    list-style-type: none;
}

ul{	
    margin: auto;
    
}
#mySketch{
	size:800px*250px;
}


section div{	
	border: #FFDE7B dotted 2px;
	padding: 2em;
    margin: 1em;
    line-height: 1.8;	
}
header {
    text-align: center;
	padding:30px 0;
	margin: auto;
	width: 800px;
	height: 250px;
}

body{

	font-family: 'Noto Sans TC', sans-serif;
}

ul li a {
    text-decoration: none;
    display: block;
    color: #564E4B;
    padding: 15px;
}
footer{
    margin:auto;
	color:white;
	line-height: .5em;
	font-size: 15px;
	padding:10px;
	background-color: #c1c8c6;
	text-align: center;
	background: rgba(0, 0, 0, 0.2);
}

footer a{
	color:white;
    text-decoration: none;

}

/** when hovered over lists = yellow backlight and font gets darker **/
ul li a:hover {
    letter-spacing: 1.5px;
    transition: all 100ms cubic-bezier(0.76, 0.1, 0.175, 1.000);
    background-color: #FFE5AA;
    color: #1a1a1a;
}

footer:hover{
	background-color:#FFF1C9;
	color:black;
}

footer a:hover{
	color:black;
}


@media only screen and (min-width: 600px) {

nav ul li a {font-size: 15px;
	color:white;
}

footer {
	width:1000px;
	margin:auto;
	display: block;
	flex-direction: row;
	padding:10px;
	
}

section{
	display: flex;
	flex-direction: row;
	padding: 30px;
	margin:auto;
	width: 74%;
	}
section div{
	flex:1;
}



nav ul {
	display: flex;
}
}
		
