p,h1,h2,ul,ol, li{
    margin: 0;
    padding:0;
}
nav ul, nav ol{
    list-style-type: none;
}
p{
	font-family: 'Khula', sans-serif;
}	
h1{
	font-family: 'Fredoka One', cursive;
	font-size:40px;
}		
body {	
	
	background-color: #f1f1f1;	
	
}


#middle {
	background-color: rgb(236, 236, 236);
}
/**** welcome page***/
.welcome{
	width:1000px;
	margin:auto;
	padding:200px;
}
.welcome a{
	
	border:2px black solid;
	text-decoration: orange;
	text-align: center;
}
.service{

	display: flex;
	flex-direction: row;
	padding-top:30px;
	padding-left: 70px;
	margin:auto;
	width: 60%;
	
}
.service div{
	flex:1;
}



.service nav ul {
	display: flex;
}
footer{
	
	/* line-height: .5em;
	font-size: 15px;
	padding-top:40px;	
	text-align: center; */
	background:  rgb(236, 223, 219);
}
footer p{
	padding-bottom:8px;
}
footer a {
	color:rgb(248, 105, 129);
	text-decoration: none;	
}
footer:hover{
	background-color: rgba(0, 0, 0, 0.2);
	color:black;
}
footer a:hover{
	color:black;
}
a{
	text-decoration: none;
}

.social{ 
	font-size: 20px;
	color:grey;
	display: flex;
	justify-content: center;
}

.social i {
	display: block;
	width: 20px;
	padding-top:10px;
}



/*****Typography****/
h2{
	text-align: center;
	padding: 1em;	
}

.content h2{
	padding-top: 1em;
	padding-bottom: 0em;
}

img {
	max-width: 100%;
	padding-top: 5em;
		
}


/***** Navigation Styles****/
nav ul {
	
	padding:0;
	margin: 0;
	list-style-type: none;	
}

nav ul li a {
	display: block;
	text-transform: uppercase;
	font-size:12px;
	text-align: center;
	padding: 10px 0;
	
	border-bottom: 1px dotted #929292;
	color:black;
	text-decoration: none;	
}

nav ul li a:hover {	
	color:rgba(0,0,0,0.3);
}




     /***slide wrap**/
body {
	padding-top: 50px;
	font-family: Arial;
	color: #333;
}

#slider-wrapper {	
	width: 100%;
	height: 300px;
	margin: auto;
	position: relative;
	overflow: hidden;
	
}

ul,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#slider-wrapper ul {
	
	width: 1000px;
	height:300px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	transition: left 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

#slider-wrapper ul li {
	background-size: cover;
	position: relative;
	width: 1000px;
	height: 300px;
	float: left;
	
}

#slider-wrapper ul li:nth-child(1) {
	background-image: url(images/masks.svg);
}
#slider-wrapper ul li:nth-child(2) {
	background-image: url(images/coronavirus2.jpg);
}
#slider-wrapper ul li:nth-child(3) {
	background-image: url(images/coronavirus3.jpg);
}
#slider-wrapper ul li:nth-child(4) {
	background-image: url(images/hong-kong.jpg);
}
#slider-wrapper ul li:nth-child(5) {
	background-image: url(images/covid-19.png);
}

.content {
	
	opacity: 0.8;
	position: absolute;
	top: 30px;
	bottom:30px;
	left: 40px;
	width: 450px;
	padding: 10px;
	background-color: rgba(247, 234, 234, 0.7);
	border-radius: 2em;
	font-family: 'Sen', sans-serif;
}
.content p{
   padding-top:30px;
}
#slider-controls {
	position: absolute;	
	top:125px;
	width: 100%;	
	display: flex;
	justify-content: space-between;
}

#slider-controls a {
	display: block;	
}
.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	
	border-left: 20px solid rgb(252, 164, 0);
  }
  
.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent; 
	
	border-right:20px solid orange; 
  }

/*** ****/
#team {
	position: relative;
	text-align: center;
	padding: 50px 20px;
	
}

#team li {
	display: block;
	position: relative;
	margin-bottom: 20px;
	width: 600px;
	margin: auto;
	padding: 0 20px;
	height: 600px;
}


#team li.hover-selected .info-bubble {
	opacity: 1;
	bottom: 260px;
	z-index: 500;
	-webkit-transition-delay: .5s;
	transition-delay: .5s;
	pointer-events: all;
}



.info-bubble {
	position: absolute;
	pointer-events: none;
	left: 0px;
	bottom: 50px;
	width: 270px;
	
	padding-bottom: 10px;
	opacity: 0;
	transition: all .5s ease-in-out;
	
}

.info-pointer {
	width:30px;
	height:30px;
	background:rgb(240, 211, 243);
	transform: rotate(45deg);
	position:absolute;
	bottom:0;
	left:50%;
	margin-left: -15px;
}

.team-member-info {
	background:rgb(240, 211, 243);
	position: relative;
	z-index: 402;
	padding: 10px;
	text-align: left;
	border-radius: 4px;
	
}
.team-member-info p{
	padding:3px;
}

.fade {
	animation: fadein 2s ease-out forwards;
}
/*****sign up*****/
.signup{
	padding-top: 80px;
}

* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #ffffff;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: rgb(253, 253, 253);
  outline: none;
}

hr { 
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: rgb(126, 15, 15);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color:#f5aa1f;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.contain {
	
  background-color: #fcd080;
  padding-top: 20px;
  padding-right: 350px;
  padding-left: 350px;
  padding-bottom: 60px;
    
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.support{
	padding:80px;
	padding-left:350px;
	padding-right: 350px;
	

}
.support p{
	text-align: center;
}
.donate{
	margin:auto;
 	width: 30%;
  	padding: 10px 15px;
	background-color: #e45d5d;
	border-radius: 2em;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 700px) {
  	.cancelbtn, .signupbtn {
  		width: 100%;
  	}
  	.contain{
	  	padding-left:5px;
	  	padding-right:5px;
  	}
  	.support{
		padding:10px;
		padding-top:50px;
		padding:20px;
		
	}
	.singup div p {
		font-size:12px;
	}
	#team li {
		width:300px;
		height: 300px;
	}
	.contain{
		padding:20px;
	}
	.welcome{
		width:500px;
		padding:10px;
		padding-top:100px;
		margin:auto;
	}
	.service{
		flex-direction: row;
		padding-top:10px;
		margin:auto;
		width: 100%;
	}
	footer p{
		font-size: 12px;
	}
	h1,h2{
		font-size: 20px;
	}

}

@media only screen and (min-width: 600px) {	
	
	.in_row{
		padding-top:70px;
		display:flex;
		max-width: 700px;
		margin:auto;
			
	}
	.columnleft{
		flex:1;
	}
	.columnright{
		flex:2;
		padding-top:100px;
	}

	#slider-wrapper {
		width:1000px;
		margin:auto;
	}
	nav ul li a {
		font-size: 15px;
		color:black;
	}
	
	nav{
		padding-top:20px;
		overflow: hidden;
	}
	nav ul {
		display:flex;
		width:500px;
		float:right;
		
	}
	#navi{
		float:left;
		
	}
	
	nav ul li {	
		flex:1;
	}
	
	nav ul li a {
		border-bottom: none;
		border-right: 2px  #929292;	
	}
	
	nav ul li:last-of-type a {
		border-right: none;
	}	
	figure {
		font-size: 24px;
		margin-bottom: 20px;
		width:400%;
	}
	.container {
		display: grid;
		grid-template-columns: 1fr 1fr 0.8fr 1fr;
		
	}
	.container > div {
		padding: 10px;
		background-color: white;	
		border:2px pink solid;
	}
	

}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
